In [1]:
# Write your code here

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv('review_clean.csv', encoding = "ISO-8859-1")
df = df.dropna()
df

,rating,employee_type,review_text,pros,cons,advice_to_management
0,5,Current Employee,amazing place work,ive amazon month ive seen none horror stories ...,cons far seriously like said im sure amazon ba...,none
1,5,Current Employee,software development engineering manager,work hard fun make history proud self job,rus grand year related last years stock perfor...,none
2,5,Current Employee,get put,really smart people lot opportunity growth alw...,self motivated one hold hand tell youre great ...,onboarding training new employees thrown fire ...
3,3,Current Employee,exciting work abusive culture,jeff bezos steam brilliant continue make great...,management process abusive im currently manage...,dont pretend recent ny times article isolated ...
4,4,Current Employee,amazing people horrible others,amazon lots cool stuffbut lots boring stuff re...,youre responsible career progression finding p...,stack ranking horrible practice since rife fav...
...,...,...,...,...,...,...
4995,5,Current Employee,operations manager,talented hard working team fun work hard every...,worklife balance tough peak personal pride sta...,patient folks trying hard learn systems really...
4996,5,Current Employee,great company work,latest technologies cutting edge projects amaz...,call sucks part depends team periods stressful...,work retaining employees lot good work done pa...
4997,4,Current Employee,like job,think best things working shift times wage fac...,working bottom lot young people barely work ta...,separate teams seem every line together let pe...
4998,2,Former Employee,work unless want wage slave,pay large break room food trucks,lifework balance favoritism get berated gettin...,employees humans lives longer breaks realistic...
4999,2,Current Employee,ok really like code,friendly hardworking people full knowledge cha...,bad project management cycle overwork get prom...,none

In [2]:
df = df[['rating', 'review_text']]
df.head()

   rating                               review_text
0       5                        amazing place work
1       5  software development engineering manager
2       5                                   get put
3       3             exciting work abusive culture
4       4            amazing people horrible others

In [3]:
# define function to determine sentiment

def sent(score):
    if score < 3:
        return 'negative'
    elif score > 3:
        return 'positive'
    else:
        return 'neutral'
    
df['sentiment'] = df['rating'].apply(sent)
df.head()

   rating                               review_text sentiment
0       5                        amazing place work  positive
1       5  software development engineering manager  positive
2       5                                   get put  positive
3       3             exciting work abusive culture   neutral
4       4            amazing people horrible others  positive

In [4]:
X = df['review_text']
y = df['sentiment']

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [6]:
# random forest regression

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

vect = CountVectorizer(min_df = 2, ngram_range=(1, 2))
X_train = vect.fit(X_train).transform(X_train) 
X_test = vect.transform(X_test)

In [7]:
# build the mode
from sklearn.ensemble import RandomForestClassifier

RF_model = RandomForestClassifier(n_estimators=200, random_state=10)
RF_model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=200, random_state=10)

In [8]:
RF_pred = RF_model.predict(X_test)

In [9]:
print("Accuracy:",metrics.accuracy_score(y_test, RF_pred))
print("Precision:",metrics.precision_score(y_test, RF_pred, average = 'macro'))
print("Recall:",metrics.recall_score(y_test, RF_pred, average = 'macro'))
print("f1 score:",metrics.f1_score(y_test, RF_pred, average = 'macro'))

Accuracy: 0.5656565656565656
Precision: 0.4813828710971568
Recall: 0.43375291349708106
f1 score: 0.4399079989777664

In [10]:
# logistic regression

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

vect = CountVectorizer(min_df = 2, ngram_range=(1, 2))
X_train = vect.fit(X_train).transform(X_train) 
X_test = vect.transform(X_test)

In [11]:
# build the model
from sklearn.linear_model import LogisticRegression

LogR_model = LogisticRegression()
LogR_model.fit(X_train, y_train)

LogisticRegression()

In [12]:
LogR_pred = LogR_model.predict(X_test)

In [13]:
print("Accuracy:",metrics.accuracy_score(y_test, LogR_pred))
print("Precision:",metrics.precision_score(y_test, LogR_pred,average = 'macro'))
print("Recall:",metrics.recall_score(y_test, LogR_pred,average = 'macro'))
print("f1 score:",metrics.f1_score(y_test, LogR_pred,average = 'macro'))

Accuracy: 0.602020202020202
Precision: 0.5300313775999561
Recall: 0.4422793682922932
f1 score: 0.4451781047888435

In [14]:
# SVM
from sklearn import svm
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

vect = CountVectorizer(min_df=2, ngram_range=(1, 2))
X_train = vect.fit(X_train).transform(X_train) 
X_test = vect.transform(X_test)
clf = svm.SVC(kernel='linear')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred,average = 'macro'))
print("Recall:",metrics.recall_score(y_test, y_pred,average = 'macro'))
print("f1 score:",metrics.f1_score(y_test, y_pred,average = 'macro'))

Accuracy: 0.6212121212121212
Precision: 0.5331611585120014
Recall: 0.44941038562317587
f1 score: 0.4588186646545835